:root {
  --base-white: #fff;
}

header{
  background: #282725;
  color: var(--base-white);
}

/* 로그인 부분 */

.top{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #fff;
  position: relative; /*  이게 있어야 정렬이 됩니다. */
}

.btn img{
  background: #282725;
  vertical-align: middle;
}

.sign-in a, .cafe-main1 span{
  display: block;
  padding-left: 10px;
  text-decoration: none;
  color: var(--base-white);

}

.sign-in{
  display: flex;
}

.cafe-main1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  /* 부모를 기준으로 정가운데 정렬  */
}


ul{
  list-style-type : none;
  padding-left: 0px;
}

.cafe-main1 a {
display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--base-white);
}

@keyframes sildEffect{
  0% { 
    
  }
  100% {
    
    transform: translate(150px,0);
    transition-duration: 1.5s;
    width: auto;
  }
}

/* @keyframes fadeEffect{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
    transition-duration: 0.5s;
    transition-delay: 1s;
  }
} */

.search{
  display:flex;
}
.btn-wrap{
  position: relative;
}

.search input{
  width: 0;
  transition:all .5s;
}


.search button{
  border:none;
  background:none;
}

.search:hover input{
  width: 142px;
}
.btn{
  /* all:unset;
  position:absolute;
  left: -30px; */
}

/* .btn:hover{
  cursor: pointer;
  animation-name: slidEffect;
  animation-fill-mode: forwards;
} */

input {
  border: none;
  background: #282725;
  border-bottom: 1px solid var(--base-white);
  /* background: violet; */
}


/* input:hover{
  cursor: pointer;
  animation-name: fadeEffect;
  animation-fill-mode: forwards;
} */





/* nav 메뉴 부분 */


.menu {
  display: flex;
  justify-content: space-around;
  line-height: 1.5em;
  
}

/* 그리드로 메뉴 배치하는 방법  
.menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 16px;
  text-align: center;
} */